.item {
    display: flex;
    flex-direction: column;
    border: 1px solid #d3d3d3;
    margin: 10px 0;
    padding: 5px;
    border-radius: 10px;

    .item-header {
        display: flex;
        justify-content: space-between;
        background-color: #d3d3d3;
        align-items: center;

        .product-image {
            width: 30px;
            height: 30px;

            img {
                max-width: 100%;
            }
        }

        .product-description {
            display: flex;
            gap: 10px;
        }
    }

    .item-price {
        display: flex;
        justify-content: flex-end;
    }
}

.message {
    width: auto;
    display: flex;
    justify-content: center;
    margin-top: 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
}

.success {
    background-color: #07923a;
}

.danger {
    background-color: #dc3545;
}

.color-white {
    color: white;
}